<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>Document</title>
        <link rel="stylesheet" href="/css/public.css">
        {{{_sections.head}}}
    </head>
    <body>
        <header>
            <img src="/img/1.png" alt="Meadowlark Travel Logo">
        </header>
        {{{body}}}
        <div class="footer">
            Express footer
        </div>
    </body>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    {{{_sections.jquery}}}

</html>