<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/css/public.css">
</head>
<body>
    <header>
        <img src="/img/1.png" alt="Meadowlark Travel Logo">
    </header>
    {{{body}}}
    <div class="footer">
         Express footer
    </div>
</body>
</html>